<nav id="menu" class="panel" role="navigation">

    <ul>

        <li ui-sref=".effects">
            <div id="profileContainer" ng-class="{ profiled: data.effect }">
                <i class="fa fa-book"></i>
                <a>{{data.effect || '맵 효과 없음'}}</a>
            </div>
        </li>

        <li>
            <div id="ship" status="{{data.ship[1]}}" ship-manager>
                <i class="fa fa-level-up comodity" ui-sref="main.ship"></i>
                <i class="fa fa-ship"></i>
                <span>{{ships[data.ship[0]].name}} (lv. {{data.ship[1]}})</span>
                <div id="ship-background"></div>
            </div>
        </li>
        
        <li>
            <div id="heal">
                <i class="fa fa-heart"></i>
                매 턴 회복 레벨: <input type="number" min="0" max="5" id="healLevel" to-int ng-model="data.healLevel"></input>
            </div>
        </li>

        <li>
            <div id="defenseContainer" title="Middle-click or CTRL-click for details" defense-on-click>
                <i class="fa fa-level-up comodity" ui-sref="main.defense"></i>
                <i class="fa fa-shield"></i>
                적 방어력: <input type="number" id="defense" min = 0 to-int ng-model="data.defense"></input>
            </div>
        </li>

        <li>
            <div id="shieldContainer">
                <i class="fa fa-shield"></i>
                배리어: <input min="0" style="color: black; width:40px" type="number" id="comboShield" to-int ng-model="data.comboShield">
                                                                      <select style="color: black" id="comboType" ng-model="data.comboType">
                                                                        <option value="" selected>Hits</option>
                                                                        <option value="Good">Good</option>
                                                                        <option value="Great">Great</option>
                                                                        <option value="Perfect">Perfect</option>
                                                                      </select> 
            </div>
        </li>

        <li ui-sref=".candy">
            <div id="candyContainer">
                <i class="fa fa-sliders"></i>
                <a>솜사탕</a>
            </div>
        </li>
        
        <li>
            <div id="action">
                <i class="fa fa-check-square"></i>
                선장액션: <br><input type="checkbox" name="friend" value="left" ng-model="data.actionleft">친구/조력자 선장<br><input type="checkbox" name="captain" value="right" ng-model="data.actionright">선장
                <br>기어 레벨: <br>친구/조력자 선장: <select style="color: black" id="gearLevelLeft" ng-model="data.gearLevelLeft">
                                                                        <option value=0 selected>기어 2</option>
                                                                        <option value=1>기어 3</option>
                                                                        <option value=2>기어 4: 바운드맨</option>
                                                                        <option value=3>기어 4: 탱크맨</option>
                                                                      </select>
                                <br> 선장: <select style="color: black" id="gearLevelRight" ng-model="data.gearLevelRight">
                                                                        <option value=0 selected>기어 2</option>
                                                                        <option value=1>기어 3</option>
                                                                        <option value=2>기어 4: 바운드맨</option>
                                                                        <option value=3>기어 4: 탱크맨</option>
                                                                      </select> 
            </div>
        </li>

        <li>
            <div id="sliderToggle" status="{{options.slidersEnabled ? 0 : 1}}"
                ng-click="options.slidersEnabled = !options.slidersEnabled">
                <i class="fa fa-circle-o-notch"></i>
            </div>
        </li>

        <li ng-show="showGatherButton">
            <div id="gather" ui-sref=".gather">
                <i class="fa fa-heartbeat"></i>
                Data Gathering
            </div>
        </li>

        <li>
            <div id="specialDivider">필살기:</div>
        </li>

        <special slot="0"></special>
        <special slot="1"></special>
        <special slot="2"></special>
        <special slot="3"></special>
        <special slot="4"></special>
        <special slot="5"></special>

    </ul>

</nav>
